@import "../../styles/variables";

$title-color: #281C1C;

h1 {
    color: $title-color;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;

    margin: 20px;

    &::before {
        content: "|";
        font-weight: bold;
        color: $main-color;

        margin-right: 10px;
        vertical-align: middle;
        font-size: 23px;
    }
}

a.more {
    float: right;
    line-height: 25px;
    margin-right: 20px;
}