@import "../../styles/variables";

* {
    color: white;
    text-align: center;
}

header {
    background-image: url("/assets/images/background-lg.png");
    background-color: $main-color;
    background-size: auto 100%;
}

h1 {
    font-size: 26px;
    line-height: 39px;
    font-weight: bold;

    padding-top: 42px;
}

p {
    font-size: 16px;
    padding-bottom: 60px;
    font-weight: 300;
}